*{
    padding: 0;
    margin: 0;
    border: 0;
}
.wrapper{
    width: 100vw;
    height: auto;
    background-color: black;
    display: grid;
    justify-items: center;
    align-content: center;
}
.contain{
        display: grid;
        width: 50%;
        grid-template-columns: minmax(200px,210px);
        grid-template-rows: repeat(3,minmax(200px,auto));
        background-color: rgba(130, 234, 234, 0);
        padding: 20px;
        gap: 20px;
}

.box{
    background-color: rgba(255, 255, 255, 0.166);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

@media (min-width: 620px){
    
    .wrapper{
        width: 100vw;
        height: max-content;
        background-color: black;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .contain{
        display: grid;
        width: 600px;
        grid-template-columns: 400px auto;
        grid-template-rows: 200px 250px;
        background-color: rgba(130, 234, 234, 0);
        padding: 20px;
        gap: 20px;
    }
    
    .box{
        background-color: rgba(255, 255, 255, 0.166);
        backdrop-filter: blur(10px);
        border-radius: 20px;
    }
    .b1{
        grid-column:1/3;
    }
}